<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2172 Scouting System</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
  <div id="app">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">2172 Scouting System</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#" v-on:click="openInfo()">Information/Help</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-container">
        <div class="reveal" id="infoModal" data-reveal>
            <p class="lead">Welcome to team 2172's scouting system. Please read the important info below.</p>
            <p>This imformation needs to be added!!!!!!</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="reveal" id="loadingModal" data-reveal>
              <h1>Thanks for your data!</h1>
              <p class="lead">Please wait while the trained monkeys write it down...</p>
          </div>

      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>
            Match Number:
            <input type="number" value="000" v-model="Match_Number">
          </label>
        </div>
        <div class="cell">
          <label>
            Team Number:
            <input type="number" value="0000" v-model="Team_Number">
          </label>
        </div>
        <fieldset class="cell">
          <legend>Drivertation:</legend>
          <input type="radio" name="drivestation" value="Red 1" id="red1" required v-model="Driverstation"><label for="red1">Red 1 </label>
          <input type="radio" name="drivestation" value="Red 2" id="red2" required v-model="Driverstation"><label for="red2" >Red 2 </label>
          <input type="radio" name="drivestation" value="Red 3" id="red3" required v-model="Driverstation"><label for="red3">Red 3 </label>
        </fieldset>
        <fieldset class="cell">
          <input type="radio" name="drivestation" value="Blue 1" id="blue1" required v-model="Driverstation"><label for="blue1">Blue 1</label>
          <input type="radio" name="drivestation" value="Blue 2" id="blue2" required v-model="Driverstation"><label for="blue2">Blue 2</label>
          <input type="radio" name="drivestation" value="Blue 3" id="blue3" required v-model="Driverstation"><label for="blue3">Blue 3</label>
        </fieldset>
        <fieldset class="cell">
          <legend>Auto Line Crossed:</legend>
          <input type="radio" name="autolinecrossed" value="true" id="autolinecrossedyes" required v-model="Auto_Line_Crossed"><label for="autolinecrossedyes">Yes</label>
          <input type="radio" name="autolinecrossed" value="false" id="autolinecrossedno" required v-model="Auto_Line_Crossed"><label for="autolinecrossedno">No</label>
        </fieldset>
        <num-input title="Auto Cubes to Switch" v-model="Auto_Cubes_to_Switch"></num-input>
        <num-input title="Auto Cubes to Scale" v-model="Auto_Cubes_to_Scale"></num-input>
        
        <num-input title="Teleop Cubes to Vault" v-model="Teleop_Cubes_to_Vault"></num-input>
        <num-input title="Teleop Cubes to Near Switch" v-model="Teleop_Cubes_to_Near_Switch"></num-input>
        <num-input title="Teleop Cubes to Far Switch" v-model="Teleop_Cubes_to_Far_Switch"></num-input>
        <num-input title="Teleop Cubes to Scale" v-model="Teleop_Cubes_to_Scale"></num-input>

        <fieldset class="cell">
          <legend>Robot Climbed:</legend>
          <input type="radio" name="climbed" value="true" id="climbedyes" required v-model="Robot_Climbed"><label for="climbedyes">Yes</label>
          <input type="radio" name="climbed" value="false" id="climbedno" required v-model="Robot_Climbed"><label for="climbedno">No</label>
        </fieldset>
        <fieldset class="large-6 cell">
          <legend>Activated Powerups:</legend>
          <input id="force" type="checkbox" v-model="Force_Activated"><label for="force">Force</label>
          <input id="levitate" type="checkbox" v-model="Levitate_Activated"><label for="levitate">Levitate</label>
          <input id="boost" type="checkbox" v-model="Boost_Activated"><label for="boost">Boost</label>
        </fieldset>
        <div class="cell">
          <label>
            Alliance Score:
            <input type="number" value="0" v-model="Alliance_Score">
          </label>
        </div>
        <div class="cell">
          <div class="expanded button-group">
            <a class="button" v-on:click="nextMatch()">Next Match</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <script type="text/x-template" id="num-input-template">
      <div class="cell">
        <label>
          {{title}}:
          <input type="number" v-bind:value="value" v-on:input="$emit('input', $event.target.value)">
        </label>
        <div class="expanded button-group">
          <a class="button alert" v-on:click="subtractOne()">-1</a>
          <a class="button success" v-on:click="addOne()">+1</a>
        </div>
      </div>
    </script>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
