<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2172 Scouting System</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
  <div id="app">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">2172 Scouting System</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#" v-on:click="openInfo()">Information/Help</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-container">
        <div class="reveal" id="infoModal" data-reveal>
            <p class="lead"><b>Scouts, please read the important info below!</b></p>
            <p>Good scouting data is important to help make our team a valuable alliance partner and is critical in alliance selection. There are a few important things to keep in mind while scoutiong to insure that your data gets to the right place.</p>
            <br>
            <p><b>Accuracy of Match Number, Team Number, and Driverstation:</b></p>
            <p>If you do not accuratly input match number, team number, or driverstation your data will not be able to be analyzed by the scouting system. Per each match only one team can be assigned to each driverstation. Please refer to the field map below as a refrance for which driverstation is which.</p>
            <center>
              <img src="img/field.svg">
            </center>
            <p><b>Note! The driverstation a robot is lined up in front of is not always the driverstation a team is driving from. Be sure to mark down which station the team's drivers are behind.</b></p>
            <br>
            <p><b>Powerups:</b></p>
            <p>While scouting mark down whichever powerups are activated by the alliance your assigned team is on. For example if you are scouting a robot on the red alliance and the red alliance levitate is activated mark down levitate as activated nomatter which team the human player is from. Symbols on the scorebaord denote which powerups have been activated by each alliance. Be sure your scouting form matches the scoreboard before you click the button to move on to the next match.</p>
            <br>
            <p><b>Near/Far Switches:</b></p>
            <p>Our scouting tracks seperatly the number of cubes placed by each team in their near/far switches. The near switch is the switch closest to the driverstation a team is driving from. Ex: The switch on the blue side of the field is the near switch for the blue alliance and is the far switch for the red alliance.</p>
            <br>
            <p><b>Robot Climbs:</b></p>
            <p>Only mark a successful robot climb if your robot is the one climbing. If another robot is lifting your robot up off the ground do not mark your robot with a successful climb even if it is scored.</p>
            <br>
            <p><b>Anything Else:</b></p>
            <p>If you have any other questions or concerns about the scouting system or if any errors popup please go to David Paluki. <b>Most importantly, SCOUTING MATTERS, so scout well, get good data, and don't miss matches!</b></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="reveal" id="loadingModal" data-reveal>
              <h1><b>Thanks for your data!</b></h1>
              <p class="lead">Please wait while the trained monkeys write it down...</p>
              <center>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTrqNJPW6lc0jY0qLbdFGZUjxSLyZhjBKHxPSuqyxpmVBwhjXDWA">
              </center> 
          </div>

      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>
            Match Number:
            <input type="number" value="000" v-model="Match_Number">
          </label>
        </div>
        <div class="cell">
          <label>
            Team Number:
            <input type="number" value="0000" v-model="Team_Number">
          </label>
        </div>
        <fieldset class="cell">
          <legend>Driverstation:</legend>
          <input type="radio" name="drivestation" value="Red 1" id="red1" required v-model="Driverstation"><label for="red1">Red 1 </label>
          <input type="radio" name="drivestation" value="Red 2" id="red2" required v-model="Driverstation"><label for="red2" >Red 2 </label>
          <input type="radio" name="drivestation" value="Red 3" id="red3" required v-model="Driverstation"><label for="red3">Red 3 </label>
        </fieldset>
        <fieldset class="cell">
          <input type="radio" name="drivestation" value="Blue 1" id="blue1" required v-model="Driverstation"><label for="blue1">Blue 1</label>
          <input type="radio" name="drivestation" value="Blue 2" id="blue2" required v-model="Driverstation"><label for="blue2">Blue 2</label>
          <input type="radio" name="drivestation" value="Blue 3" id="blue3" required v-model="Driverstation"><label for="blue3">Blue 3</label>
        </fieldset>
        
        <fieldset class="cell">
          <legend>Auto Line Crossed:</legend>
          <input type="radio" name="autolinecrossed" value="true" id="autolinecrossedyes" required v-model="Auto_Line_Crossed"><label for="autolinecrossedyes">Yes</label>
          <input type="radio" name="autolinecrossed" value="false" id="autolinecrossedno" required v-model="Auto_Line_Crossed"><label for="autolinecrossedno">No</label>
        </fieldset>
        <num-input title="Auto Cubes to Switch" v-model="Auto_Cubes_to_Switch"></num-input>
        <num-input title="Auto Cubes to Scale" v-model="Auto_Cubes_to_Scale"></num-input>
        
        <num-input title="Teleop Cubes to Vault" v-model="Teleop_Cubes_to_Vault"></num-input>
        <num-input title="Teleop Cubes to Near Switch" v-model="Teleop_Cubes_to_Near_Switch"></num-input>
        <num-input title="Teleop Cubes to Far Switch" v-model="Teleop_Cubes_to_Far_Switch"></num-input>
        <num-input title="Teleop Cubes to Scale" v-model="Teleop_Cubes_to_Scale"></num-input>

        <fieldset class="cell">
          <legend>Robot Climbed:</legend>
          <input type="radio" name="climbed" value="true" id="climbedyes" required v-model="Robot_Climbed"><label for="climbedyes">Yes</label>
          <input type="radio" name="climbed" value="false" id="climbedno" required v-model="Robot_Climbed"><label for="climbedno">No</label>
        </fieldset>
        <fieldset class="large-6 cell">
          <legend>Activated Powerups:</legend>
          <input id="force" type="checkbox" v-model="Force_Activated"><label for="force">Force</label>
          <input id="levitate" type="checkbox" v-model="Levitate_Activated"><label for="levitate">Levitate</label>
          <input id="boost" type="checkbox" v-model="Boost_Activated"><label for="boost">Boost</label>
        </fieldset>
        <div class="cell">
          <label>
            Alliance Score:
            <input type="number" value="0" v-model="Alliance_Score">
          </label>
        </div>
        <div class="cell">
          <div class="expanded button-group">
            <a class="button" v-on:click="nextMatch()">Next Match</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <script type="text/x-template" id="num-input-template">
      <div class="cell">
        <label>
          {{title}}:
          <input type="number" v-bind:value="value" v-on:input="$emit('input', $event.target.value)">
        </label>
        <div class="expanded button-group">
          <a class="button alert" v-on:click="subtractOne()">-1</a>
          <a class="button success" v-on:click="addOne()">+1</a>
        </div>
      </div>
    </script>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
